.container {
  background-color: var(--var--light-purple) !important;
}

.menuBtn {
  border-radius: 50%;
  border: 3px solid var(--var--dark-pink);
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 3rem;
  left: 3rem;
}

.h1 {
  transition: 0.8s;
}

.h1:hover {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  transition: 0.8s;
}

ul {
  list-style: none;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
li {
  margin-top: 2rem;
  transition: 0.8s;
}

li:hover {
  transition: 0.8s;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}

.link {
  text-decoration: none;
  font-size: 1.3rem;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 2px solid var(--var--dark-pink);
  padding: 1rem;
  border-radius: 2rem;
  width: 10rem;
  margin: 2rem;
}
