.container {
  background-color: var(--var--light-purple) !important;
}

.menuBtn {
  border-radius: 50%;
  border: 3px solid var(--var--dark-pink);
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 3rem;
  left: 3rem;
}
