:root {
  --var--light-pink: pink;
  --var--dark-pink: rgb(174, 63, 108);
  --var--light-purple: rgb(210, 165, 253);
  --var--dark-purple: rgb(103, 64, 139);
}

* {
  margin: 0;
  background-color: var(--var--light-pink);
  color: var(--var--dark-pink);
}
